{% load cms_tags menu_tags cache %}

{% for child in children %}
    <li class="menu-item {% if child.children %}  dropdown {% if child.level >= 1 %}dropdown-submenu{% endif %}{% endif %}">
        <a href="{{ child.attr.redirect_url|default:child.get_absolute_url }}" {% if child.children %} class="dropdown-toggle" data-toggle="dropdown" {% endif %}>
            {{ child.get_menu_title }}
            {% if child.level == 0 and child.children %}<span class="caret"></span>{% endif %}
        </a>
        {% if child.children and child.level <= 4 %}
            <ul class="dropdown-menu">
            {% show_menu from_level to_level extra_inactive extra_active template '' '' child %}
            </ul>
        {% endif %}
    </li>
{% endfor %}